# Ignore node modules
node_modules/

# Ignore database files
*.db

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Excel and CSV files
*.xlsx
*.csv
*.xls
*.pdf

# Ignore environment files
.env
Credentials.env

# Ignore text files
Maintenance process.txt
Acrion Items.txt
